/*salvar como estilos.css*/
/*
Vamos definir as configurações padrões do corpo da página,
dos principais comandos e do parágrafo
*/
body {
	
	margin: 0;
	padding: 0;
	background: url('../imagens/fundo2.png') repeat ;
	font-family: Helvetica, sans-serif;
	
	color: #333;
}

h1, h2, p, ul, li {
	margin: 0;
	padding: 0;
}

p {
	font-size: 1em;
	line-height: 1.4em;
}

ul {
	list-style-type: none;
}

/*
definição dos links
*/
a.aa{
	font-size: 0.5em;
	display: block;
	padding:10px;
	
}
nav a.aa:hover{
	color:black;
	background: #eee;
}
a:link, a:visited {
	color: #333;
	
}
nav a:hover{
	cursor:pointer;
	color: #CCC;
	background:64d3fd;
	
}
nav  {
	padding:10px 0px 10px 0;
	width:100%;
	background:#64d3fd;
	float: center; 
	font-size: 1em;
	}

nav h1 {
    color: #ccc;
}

nav ul{	
	display: inline;
	margin: 0px 0px 0px 0px;
	font-size: 1.4em;
	font-weight: bolder;
}

nav li {
	width:25%;
	display: inline;
	margin: 20px 38px 20px 38px;
	
	}

nav li a {
	color: red;
	text-decoration: none;
}
aside a {
	text-decoration:none;
	
}
/* CORPO DO SITE*/

section{
	margin:auto;
	padding: 0;
	width: 70%;
	background: #beebfc;
	
}

 aside {
	float: right;
	width: 35%;
	margin: 20px 0 20px 0;
	padding: 20px;
	min-width:180px;
}
article {
	width: 50%;
	margin: 20px 0 20px 0;
	padding: 20px;
	float: left;
	min-width:200px;

}
div#relatorio, div#artigo{
	width: 100%;
	margin:10 0 10 0;
	text-align:justify;
	
}
#relatorioo,#artigoo{
	display: block;
	background-color:lightblue;
	border:1px solid black;
	margin:10px;
	text-align:center;
	padding:10px 0px 10px 0px;
	color:black;
	text-decoration:none;

}

#relatorioo:hover, #artigoo:hover{
	background-color:black;
	color:white;
}
ul#listdesign{
	
	font-size: 1em;
	
}
article ul {

	font-size: 1em;
}



aside {
	float: right;
	background: #f2fcfe;
	
	
}

aside h2 {
	margin: 0 0 20px 0;
	
	font-size:1em;
}
aside p{
	font-size: 0.7em;	
}

aside li {
	padding:0px;
	margin: 0px 10px 0px 0px;
	float: left;
	border: 4px solid #ccc;
}

aside img {
height: 150px;
width: 110px;
margin:0px;
}
aside img.redesocial{
height:30px;
width:30px;		
	
}
/* RODAPÉ DO SITE*/
footer {
	clear: both;
	background: #eee;
	padding: 10px;
	border-top: 2px solid #ddd;
	text-align: center;
	color: #777;
}


/*FORMULARIO*/
input,textarea,select{
	display:block;
	margin-bottom:10px;
	margin-left:10px;
}

	input.dis_inline{
	display:inline-block;
	width:120px;
	height:30px;
}
/*FATEC*/

article h1{
	font-size:1.3em;
}
article img{
	width:100%;
	height:35%;

}

article h2{
	font-size:1.1em;
	margin: 0 0 10px 0;
}

/*DISCIPLINAS*/

article div{
display:none;
}
article div#br{
display:block;	
}

#dd img{
margin:auto;
width:30%;
height:20%;
}
#dd img:hover{
margin:auto;
width:500px;
height:350px;
}

/*DROPDOWN*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
	cursor:pointer;
    display: block;
}

/*ASIDE*/
h3{
font-size:0.8em;
	
}
/*DESIGN DIGITAL*/
.dd{
	text-align:center;
}
p.dd,li.dd{
	text-align:justify;
}
.logos{
	height:50%;
	width:20%;
}
#pc{
	float:left;
	height:160px;
	width:200px;
}
h1.dd{
		text-align:center;
	margin-top:10px;
}

/*INGLES*/
#mostraring,#mostrarbr{
	-webkit-filter: grayscale(100%);
}
.bandeira{
	height:30px;
	width:30px;
	float:right;
	-webkit-filter: grayscale(100%);
}
#mostraring:hover,#mostraring:hover,#mostrarbr:hover,.bandeira:hover{
 -webkit-filter:grayscale(0%);
    transition: 0.4s;
	height:40px;
	width:40px;
}
.img1{
	width:100%;
	height:45%;
}
#padrimm, #steamm,#wazee{
	margin-top:10px;
	
}
#padrim:hover, #steam:hover,#waze:hover{
	cursor:pointer;
}
#padrim, #steam,#waze{
	width:98%;
	display: block;
	background-color:lightblue;
	border:1px solid black;
	margin:10px;
	text-align:center;
	padding:10px 0px 10px 0px;
	color:black;
	text-decoration:none;

}
/*FORMULÁRIO*/
form{
	margin-left:20px;
}
input, select ,textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=reset],input[type=submit] {
    width: 49%;
    background-color: #4a7dce;
    color: white;
    padding: 0;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover,input[type=reset]:hover {
    background-color: #557Cff;
}
#lolimg{
	width:100%;
	height:30%;	
	
}


.espaco{
	margin-top:20px;
	
}
.espacoo{
	margin-bottom:10px;
}
.alexandre{
	text-align:justify;
	
}

img.alexandre{
	width:100%;
	height:43%;
	margin-bottom:10px;
}
p{
	 text-indent:4em;
}
ul p,p.lol{
	 text-indent:0em;	
}
div#br p,div#ing p{
	
	text-indent:0em;
}
img.cc{
	margin-bottom:20px
	
}
h1.cc{
	font-size:2em;
		text-align:center;
}
#vermais,#vermenos{
	margin:0px;
	color:red;
}
img.logos{
	margin-left:20%;
	width:60%;
	height:25%;
}
.hab{
	display:block;
	background-color:lightgray;
	width:100%;
	height:20px;
}
#html{
	margin:10 0 10 0;
	color:white;
	display:block;
	background-color:#4D9EBD;
	width:85%;
	height:20px;
}
#css{
	margin:10 0 10 0;
	color:white;
	display:block;
	background-color:#4D9EBD;
	width:75%;
	height:20px;
}
#js{
	margin:10 0 10 0;
	color:white;
	display:block;
	background-color:#4D9EBD;
	width:70%;
	height:20px;
}
#design{
	margin:10 0 10 0;
	color:white;
	display:block;
	background-color:#4D9EBD;
	width:30%;
	height:20px;
}
#c{
	margin:10 0 10 0;
	color:white;
	display:block;
	background-color:#4D9EBD;
	width:80%;
	height:20px;
}
#jv{
	margin:10 0 10 0;
	color:white;
	display:block;
	background-color:#4D9EBD;
	width:85%;
	height:20px;
}
#pt{
	margin:10 0 10 0;
	color:white;
	display:block;
	background-color:#4D9EBD;
	width:20%;
	height:20px;
}
.lol1{
	width: 100%;
	height:35%;
	margin-bottom:10px;
	
}
.bases{
	margin-top:10px;
	
}
#esquerda{
	text-align:right;	
}